
body{
    background-image: url("images/hair.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    text-align: center;
    
}
h1 { 
    color:white;

}
body{
    font: arial;

}
h2{
    color:darkblue
}
p{

    color:white;
    font-weight:bold;



    font-size:20px;

}
ul{

    list-style-position:inside;
    color:white;
    font-weight:bold;

}

ol{

    list-style-position:inside;
    color:white;
    font-weight:bold;


}
h2{
    color:darkblue;
}
